@import './open-sans.css';
@import '~react-redux-spinner/dist/react-redux-spinner.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* SPINNER */

#nprogress .bar {
  background-color: #ff4081;
}

#nprogress .spinner {
  right: 30px;
  top: 30px;
}

#nprogress .spinner-icon {
  border-top-color: #ff4081;
  border-left-color: #ff4081;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff4081, 0 0 5px #ff4081;
}